/** Page 1 **/


/* Paner */

.bg-smovytraining {
    background-color: hsla(359, 83%, 35%, 0.548);
    height: 300px;
}

.content-paner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-paner .title-paner {
    color: #fff;
    margin-bottom: 30px;
    font-size: 40px;
    text-transform: uppercase;
}

.content-paner .linkback a {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.content-paner .linkback i {
    color: #fff;
    font-size: 15px;
    padding: 0 20px;
}


/* smovy */

.content-smovy {
    text-align: center;
    padding: 100px 0;
}

.content-smovy img {
    max-width: 40%;
    margin-bottom: 30px;
}

.content-text {
    text-align: center;
    background-color: #d6f5e8;
    padding: 50px 0;
}

.content-text .boxes {
    max-width: 40%;
    margin: 40px auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.content-text .boxes h3 {
    color: #D80001;
    text-transform: uppercase;
    font-size: 20px;
}

.content-text .boxes p {
    color: #333;
}


/* content-cont */

.content-cont {
    text-align: center;
    padding: 100px;
}

.content-cont img {
    max-width: 40%;
}

.content-cont h4 {
    color: #99cc00;
}

.content-cont p {
    color: #333;
}